# Analyzing International Bites Data Part 1: Connection, Setup and Stored Procedures

## Section 1: Connection and Setup

In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

### Conecting to MySQL Server

In [2]:
def make_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Server connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

host_name = "localhost"
user_name = "waleed"
user_password = "Waleed@18574" 


connection = make_server_connection(host_name, user_name, user_password)

MySQL Server connection successful

### Dropping Databases

In [3]:
def drop_database(connection, drop_database_query):
    cursor = connection.cursor()
    try:
        cursor.execute(drop_database_query)
        print("Database dropped successfully")
    except Error as err:
        print(f"Error: '{err}'")

drop_database_query = "DROP DATABASE IF EXISTS mediterranean_bites_db "
drop_database(connection, drop_database_query)

Database dropped successfully

### Add Database

In [4]:
def make_database(connection, make_database_query):
    cursor = connection.cursor()
    try:
        cursor.execute(make_database_query)
        print("Database made successfully")
    except Error as err:
        print(f"Error: '{err}'")

make_database_query = "CREATE DATABASE mediterranean_bites_db"
make_database(connection, make_database_query)

Database made successfully

### Use Database

In [5]:
cursor = connection.cursor()
cursor.execute("USE mediterranean_bites_db")

### Add Tables

In [6]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(Create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

### Populate  Tables

In [7]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems = """
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu = """
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings = """
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders = """
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(1,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(2,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(3,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(4,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(5,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(6,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');
"""



# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

### Connection Pool

In [8]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database": "mediterranean_bites_db",
    "user": "waleed",
    "password": "Waleed@18574"
}

try:
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully with 2 connections.")
except Error as err:
    print(f"Error: {err}")

Connection pool 'pool_a' created successfully with 2 connections.

In [9]:
# Get a connection from the pool and assign it to connection_1
connection_1 = pool_a.get_connection()
print("connection_1 acquired from pool_a.")

connection_1 acquired from pool_a.

## Stored Procedures

### PeakHours Stored Procedures

In [10]:
# Create the PeakHours stored procedure
peak_hours_proc = '''
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS booking_hour, COUNT(*) AS bookings_count
    FROM Bookings
    GROUP BY booking_hour
    ORDER BY bookings_count DESC;
END
'''

cursor = connection_1.cursor()

# Drop the procedure if it exists
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")

# Create the procedure (execute the full statement at once)
cursor.execute(peak_hours_proc)

# Call the stored procedure
cursor.callproc('PeakHours')

# Fetch results from the stored procedure using the recommended property
for result in cursor.stored_results():
    dataset = result.fetchall()
    columns = [desc[0] for desc in result.description]
    # Print column names
    print(columns)
    # Print data
    for data in dataset:
        print(data)

['booking_hour', 'bookings_count']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

/tmp/ipykernel_1594/2905342655.py:24: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for result in cursor.stored_results():

### Alternative Method

In [ ]:
# # Create the PeakHours stored procedure
# peak_hours_proc = '''
# CREATE PROCEDURE PeakHours()
# BEGIN
#     SELECT HOUR(BookingSlot) AS booking_hour, COUNT(*) AS bookings_count
#     FROM Bookings
#     GROUP BY booking_hour
#     ORDER BY bookings_count DESC;
# END
# '''

# cursor = connection_1.cursor()

# # Drop the procedure if it exists
# cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")

# # Create the procedure (execute the full statement at once)
# cursor.execute(peak_hours_proc)

# # Call the stored procedure
# cursor.callproc('PeakHours')


# # Retrieve recrods in "dataset"
# results = next(cursor.stored_results() )
# dataset = results.fetchall()

# # Retrieve column names using list comprehension in a 'for' loop 
# for column_id in cursor.stored_results():
#     columns = [ column[0] for column in column_id.description ]

# # Print column names
# print(columns)

# # Print data 
# for data in dataset:
#     print(data)

### GuestStatus Stored Procedure

In [12]:
# Get a connection from the pool and assign it to connection_1
# connection_2 = pool_a.get_connection()
# print("connection_2 acquired from pool_a.")

In [11]:
# Create the GuestStatus stored procedure
guest_status_proc = '''
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT 
        CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS guest_name,
        e.Role,
        CASE
            WHEN e.Role = 'Manager' OR e.Role = 'Assistant Manager' THEN 'Ready to pay'
            WHEN e.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN e.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN e.Role = 'Head Waiter' THEN 'Order served'
            ELSE 'Unknown Status'
        END AS guest_status
    FROM Bookings b
    LEFT JOIN Employees e ON b.EmployeeID = e.EmployeeID;
END
'''

cursor = connection_1.cursor()

# Drop the procedure if it exists
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus")

# Create the procedure
cursor.execute(guest_status_proc)

# Call the stored procedure
cursor.callproc('GuestStatus')

# Fetch results from the stored procedure using the recommended property
for result in cursor.stored_results():
    dataset = result.fetchall()
    columns = [desc[0] for desc in result.description]
    # Print column names
    print(columns)
    # Print data
    for data in dataset:
        print(data)

['guest_name', 'Role', 'guest_status']
('Anna Iversen', 'Manager', 'Ready to pay')
('Joakim Iversen', 'Manager', 'Ready to pay')
('Vanessa McCarthy', 'Head Chef', 'Ready to serve')
('Marcos Romero', 'Assistant Chef', 'Preparing Order')
('Hiroki Yamane', 'Assistant Manager', 'Ready to pay')
('Diana Pinto', 'Head Waiter', 'Order served')

/tmp/ipykernel_1594/1349512882.py:32: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for result in cursor.stored_results():

## Closing the connection

In [12]:
# Let's close the cursor and the connection
if connection_1.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection_1 is already closed")

The cursor is closed.
MySQL connection is closed.